body {
  background-color: green;
  color: red;
}

h1 {
  margin: auto;
  background-color: blue;
  color: black
}
.row {
  margin: auto;
}

.nav{
  background-color: orange;
  color: white;
  border: 5px solid yellow;
  
}

